<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mike Newswanger">

    <link rel="icon" type="image/png" href="/favicon.ico">

    <title>{{.Site.Title}} - {{.Page.Title}}</title>

    <link href='https://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/highlight.min.css">
    <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/css/shortcodes.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/default-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>

    <div class="wrapper">
        <header class="l-header">
            <div class="l-navbar l-navbar_t-light l-navbar_expand js-navbar-sticky">
                <div class="container-fluid">
                    <nav class="menuzord js-primary-navigation" role="navigation" aria-label="Primary Navigation">
                        <ul class="menuzord-menu menuzord-right c-nav_s-standard">
                            <li><a href="/">Home</a></li>
                            <li><a href="/resume">Resume</a></li>
                            <li><a href="/posts">Blog</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="#">Category</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        {{ block "header" . }} {{ end }}

        <section class="body-content">
            <div class="page-content p-top-0">
                <div class="container">
                <div class="visible-xs-block" style="height:60px;"></div>
                {{ block "main" . }} {{ end }}
                </div>
            </div>
        </section>

        <footer id="footer" class="dark">
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="text-uppercase">Recent Blog Posts</h5>
                            <ul class="f-list">
                            {{ $section := where .Site.RegularPages "Section" "eq" "posts" }}
                            {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

                            {{ range (first $n_posts $section) }}
                            <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                            {{ end }}
                            <li><a href="/posts">See more posts</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="text-uppercase">Open Source Projects</h5>
                            <ul class="f-list">
                                <li><a href="https://github.com/mnewswanger/container-factory">Container Factory</a></li>
                                <li><a href="https://github.com/mnewswanger/docker-registry-ui">Docker Registry UI</a></li>
                                <li><a href="https://go.mikenewswanger.com/kubesolidator">Kubesolidator</a></li>
                                <li><a href="https://github.com/stackexchange/haproxy-kubefigurator">Haproxy Kubefigurator</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="secondary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="m-top-10">Copyright &copy;{{ now.Format "2006" }} Mike Newswanger | All Rights Reserved</span>
                        </div>
                        <div class="col-md-6">
                            <div class="social-link circle pull-right">
                                <a href="https://github.com/mnewswanger?tab=repositories"><i class="fa fa-github"></i></a>
                                <a href="https://stackoverflow.com/users/8407307/mike-newswanger"><i class="fa fa-stack-overflow"></i></a>
                                <a href="https://stackexchange.com/users/11470259/mike-newswanger"><i class="fa fa-stack-exchange"></i></a>
                                <a href="https://twitter.com/mnewswanger"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/mikenewswanger/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/js/modernizr/modernizr.js"></script>
    <script src="/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/flex-slider/jquery.flexslider-min.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="/js/images-loaded/imagesloaded.js"></script>
    <script src="/js/isotope/jquery.isotope.js"></script>
    <script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/menuzord/menuzord.js"></script>
    <script src="/js/nav/jquery.nav.js"></script>
    <script src="/js/parallax-js/parallax.min.js"></script>
    <script src="/js/smooth/smooth.js"></script>
    <script src="/js/sticky/jquery.sticky.min.js"></script>
    <script src="/js/touchspin/touchspin.js"></script>
    <script src="/js/typist/typist.js"></script>
    <script src="/js/visible/visible.js"></script>
    <script src="/js/scripts.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-62766896-1');

        hljs.initHighlightingOnLoad();

        $('.magnific-popup').magnificPopup({
            type: 'image'
        });
    </script>
</body>

</html>
