{{ define "main" }}
<h1>{{ .Title }}</h1>

<p class="post-date"><em>{{ .Date.Format "January 2, 2006" }} 
{{ if gt .Lastmod .Date }}
; Updated {{ .Lastmod.Format "January 2, 2006" }}
{{ end }}
</em></p>

<div class="blog-post-content">
    {{ .Content }}
</div>

{{ partial "posts/about.html" }}

<p></p>&laquo; <a href="/posts">Read more posts</a></p>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "https://www.mikenewswanger.com{{ .URL }}";
        this.page.identifier = "{{ .URL }}";
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://mikenewswanger.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}
